{% load socialaccount %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Work4It</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/exercise/assets/css/main.css" />
	</head>
	<body>

		{% if user.is_authenticated %} <!-- AUTHENTICATED USER-->
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:dashboard' %}">Dashboard</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% url 'exercise:workout' %}">Add Workout</a></li>
					<li><a href="{% url 'exercise:dashboard' %}">Dashboard</a></li>
					<li><a href="{% url 'account_logout' %}?next=/exercise">Logout</a></li>
				</ul>
			</nav>
			{% else %} <!-- UN AUTHENTICATED USER-->
			<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:home' %}">Work4It <span>by A-17</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% provider_login_url 'google' %}?next=/exercise">Login</a></li>
				</ul>
			</nav>
			{% endif %}

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>This is your exercise dashboard</p>
						<h2>{{ user.username }}</h2>
					</header>
				</div>
			</section>
		
		<!-- DISPLAY WORKOUTS -->
			<section id="three" class="wrapper style4">
				<div class="inner">
					<div class="box">
						<div class="content">
							<header class="align-center">
								<p>View all your workouts here</p>
								<h2>Workout Log</h2>
							</header>
							<h3>Workouts</h3>
								<div class="table-wrapper">
									<table>
										<thead>
											<tr>
												<th>Title</th>
												<th>Description</th>
												<th>Points</th>
												<th>Start Time</th>
												<th>End Time</th>
												<!-- <th>Date</th> -->
											</tr>
										</thead>
										<tbody>
											{% for w in workout_dict %}
											<tr>
												<td>{{ w.workout_title }}</td>
												<td>{{ w.workout_description}}</td>
												<td>{{ w.workout_points}}</td>
												<td>{{ w.workout_start_time}}</td>
												<td>{{ w.workout_end_time}}</td>
												<td>{{ w.workout_pub_date }}/td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
						</div>
					</div>
				</div>
			</section>
		<!-- TOTAL POINTS AND LEVEL -->
		<section id="five" class="wrapper style3">
			<div class="inner">
					<div class="content">
						<header class="align-center">
							<h2>Total Points: ----</h2>
							<h3>Level: ----</h3>
						</header>
		</section>
		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">
				UVA CS3240: Group A-17 --- Published March 2021
			</div>
			<div class="copyright">
				&copy; Untitled. All rights reserved.
			</div>
		</footer>

		<!-- Scripts -->
			<script src="../../static/exercise/assets/js/jquery.min.js"></script>
			<script src="../../static/exercise/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/exercise/assets/js/skel.min.js"></script>
			<script src="../../static/exercise/assets/js/util.js"></script>
			<script src="../../static/exercise/assets/js/main.js"></script>

	</body>
</html>