{% load socialaccount %}
<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../../static/exercise/styles.css">
    <title>Google Registration</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  
  <body>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Point System</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
        </ul>
      </nav>
  <h1>Welcome to Work4It</h1>
  
  {% if user.is_authenticated %}
  <h2>So glad you could join us on this epic adventure {{ user.username }}!</h2>
  <h2>The email you are currently logged in with is: {{ user.email }}.</h2>
 
  <button><a href="{% url 'account_logout' %}">Log Out</a></button>
  {% else %}
  <!-- <h1>My Google Login Project</h1> -->
  <button><a href="{% provider_login_url 'google' %}">Log in</a></button>
  {% endif %}
  
  <footer >
    <div>
      <span>UVA CS3240: Group A-17 --- Published March 2021</span>
    </div>
  </footer>


  </body>
</html>