{% load socialaccount %}
<!DOCTYPE HTML>
<!--
	Hielo by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Work4It</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="../../static/exercise/assets/css/main.css" />
	</head>
	<body>

		{% if user.is_authenticated %} <!-- AUTHENTICATED USER-->
		<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:dashboard' %}">New Workout</a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
                    <li><a href="{% url 'exercise:home' %}">Home</a></li>
                    <li><a href="{% url 'exercise:workout' %}">Add Workout</a></li>
					<li><a href="{% url 'exercise:dashboard' %}">Dashboard</a></li>
                    <li><a href="{% url 'account_logout' %}?next=/exercise">Logout</a></li>
				</ul>
			</nav>
			{% else %} <!-- UN AUTHENTICATED USER-->
			<!-- Header -->
			<header id="header" class="alt">
				<div class="logo"><a href="{% url 'exercise:home' %}">Work4It <span>by A-17</span></a></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="{% url 'exercise:home' %}">Home</a></li>
					<li><a href="{% provider_login_url 'google' %}?next=/exercise">Login</a></li>
				</ul>
			</nav>
			{% endif %}

		<!-- One -->
			<section id="One" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>This is where you can add your workouts</p>
						<h2>{{ user.username }}</h2>
					</header>
				</div>
			</section>
		<!-- FORM FOR WORKOUT INPUT -->
   <section id="Two" class="wrapper style2">
	<div class="inner" style="margin:auto;">
	  <h3>Create New Workout</h3>
		<form method="post" action="#">
			{% csrf_token %}
			<div class="row uniform">
				<!-- TITLE OF WORKOUT -->
				<div class="6u 12u$(xsmall)">
					<input type="text" name="workout_title" id="workout_title" value="" placeholder="Title" />
				</div>
				<!-- DATE -->
				<!-- <div class="6u$ 12u$(xsmall)">
					<input type="date" name="workout_pub_date" id="workout_pub_date" value="" />
				</div> -->
				<!-- START TIME -->
				<div class="6u 12u$(xsmall)">
					<p>Start Time</p>
					<input type="time" name="workout_start_time" id="workout_start_time" value="" />
				</div>
				<!-- END TIME -->
				<div class="6u 12u$(xsmall)">
					<p>End Time</p>
					<input type="time" name="workout_end_time" id="workout_end_time" value="" />
				</div>
				<!-- WORKOUT DESCRIPTION -->
				<div class="12u$">
					<textarea name="workout_description" id="workout_description" placeholder="Enter description" rows="6"></textarea>
				</div>
				<!-- Break -->
				<div class="12u$">
					<ul class="actions">
						<li><input type="submit" value="Save" /></li>
					</ul>
				</div>
			</div>
		</form>
	   <div>
	</section>
		<!-- END OF FORM FOR WORKOUT INPUT -->
		<!-- Footer -->
		<footer id="footer">
			<div class="copyright">
				UVA CS3240: Group A-17 --- Published March 2021
			</div>
			<div class="copyright">
				&copy; Untitled. All rights reserved.
			</div>
		</footer>

		<!-- Scripts -->
			<script src="../../static/exercise/assets/js/jquery.min.js"></script>
			<script src="../../static/exercise/assets/js/jquery.scrollex.min.js"></script>
			<script src="../../static/exercise/assets/js/skel.min.js"></script>
			<script src="../../static/exercise/assets/js/util.js"></script>
			<script src="../../static/exercise/assets/js/main.js"></script>

	</body>
</html>